body {
  /*background-image: url(../images/code.jpg);*/
  background-size: ;
  background-color: #dfe4ea !important;
  background-repeat: no-repeat;
  margin: 0 !important;
}

/*---------------------------------------*/
header {
  display: grid !important;
  grid-template-columns: 100% !important;
  grid-row: auto;
}

/*---------------------------------------*/
.wrapper {
  display: grid;
  grid-template-columns: 100%;
  margin: 10% 10% 0% 10%;
}

.wrapper div {}

.conteudo1 {
  display: grid;
  grid-template-columns: 100%;
}

#box-conteudo-1 {
  display: grid;
  grid-template-columns: 68%;
  grid-row: auto;
  color: #333;
}

h1 {
  color: #f1f2f6 !important;
  font-size: 58px !important;
}

h3 {
  font-size: 42px !important;
}

input[type="text"] {
  border: 1px solid #333 !important;
  color: #95afc0;
}

input[type="email"] {
  border: 1px solid #333 !important;
  color: #95afc0;
}

input[type="button"] {
  border: 1px solid #333 !important;
  background-color: #95afc0 !important;
  color: #333 !important
}

input[type="submit"] {
  border: 1px solid #333 !important;
  background-color: #440055 !important;
  color: #95afc0; !important
}

input[type="submit"] a :hover {
  border: 1px solid #333 !important;
  background-color: #4362A5 !important;
  color: #FAFAFA !important;
  padding: 2px !important;
  font-size: 16px;
}

input[type="placeholder"] {
  color: #333 !important
}

.button-job{

  background-color: #440055 !important;
  color:#FAFAFA!important;
  padding: 5px 8px 8px 10px!important;
  font-size: 14px!important;


}
