@import url("https://css.gg/smartphone.css");
@import url("https://css.gg/stack.css");
@import url("https://css.gg/terminal.css");
@import url("https://css.gg/hashtag.css");
@import url("https://css.gg/browser.css");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
:root {
  --title-color: #440055;
  --primary-color: #34cb79;
  --title-color-2: #2c3b88;
}

body {
  /*background-image: url(../images/code.jpg);*/
  /*background-color: #dfe4ea !important;*/
  /*background-image: linear-gradient(to right top, #440055, #603676, #7e6297, #9f8eb6, #c3bcd4, #d5d1e1, #e8e6ee, #fbfbfb, #fcfcfc, #fdfdfd, #fefefe, #ffffff);*/
  background: #fff;
  /* Initial background */
  transition: background 8s;
  /* .5s how long transitions shoould take */
  background-repeat: no-repeat;
  margin: 20px 0 0 0;
  overflow: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 
  font-weight: normal;
}

.p-conteudo-1 {
  font-size: 16px;
  font-weight: normal;
  font-family: "Ubuntu", sans-serif;
  color: #353434;
}

figure.image-center {
  margin: 0 25% 0 25% !important;
}

/*---------------------------------------*/

header {
  display: grid !important;
  grid-template-columns: 100% !important;
  grid-row: auto;
  /*margin-top: 0 !important;*/
}

#header-top {
  margin-top: 5%;
}

/*---------------------------------------*/

.container-main-1 {
  margin-top: 5%;
}

#box-conteudo-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
}

.box-01 {
  width: 100%;
  padding: 0.8rem;
}

.box-02 {
  width: 100%;
  padding: 0.8rem;
}

.wrapper {
  display: grid;
  grid-template-columns: 100%;
  margin: 10% 10% 0% 10%;
}

#intro {
  padding: 0.5rem;
  margin-bottom: 2%;
}

#portfolio {
  padding: 1.5rem;
  margin-bottom: 8%;
  margin-top: 10%;
  margin: auto;
}

.box-trabalhos {
  margin-bottom: 2%;
  /*border: 1px solid #696da0;*/
  padding: 1rem;
  border-radius: 4px;
  /*background-color: #696da0;*/
}

.box-container-intro {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  grid-row: auto;
  justify-content: center;
}

.box-intro-01 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /*border: 3px solid #cad9e2;*/
  
  border-radius: 8px;
}

figure.central {
  display: flex;
  justify-content: center;
  clip-path: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
}

figure.central:hover {
  filter: blur(0.1em);
}

.img-certificado {
  border-radius: 10px !important;
  border: 3px solid #fafafa !important;
}

.box-intro-02 {
  width: 100%;
  /*border: 3px solid #cad9e2;*/
  padding: 0.5rem;
  border-radius: 8px;
}

.box-intro-03 {
  width: 100%;
  /*border: 3px solid #cad9e2;*/
  padding: 0.5rem;
  border-radius: 8px;
}

.p-sobre {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: 2px;
  margin-top: 2rem;
  color: #353434;
}

.container-social {
  display: flex;
  flex-direction: column;
  color: #333;
  align-items: center;
}

ul.icons {
  display: flex;
  list-style: none;
  color: #333;
  text-decoration: none;
}

.label-social {
  color: #333;
  text-decoration: none;
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #333;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

.conteudo1 {
  display: grid;
  grid-template-columns: 100%;
  grid-row: auto;
}

.centralizar-img {
  display: flex;
  width: 100%;
  justify-content: center;
}

.ubuntu-bolder-text {
  font-weight: normal;
  font-size: 18px;
  color: var(--title-color-2);
  font-family: "Ubuntu", sans-serif;
}

#box-c .conteudo-1 {
  display: grid;
  grid-template-columns: 68%;
  grid-row: auto;
  color: #fafafa;
}

#box-conteudo-certificados {
  display: grid;
  grid-template-columns: 100%;
  grid-row: auto;
}

.certificados-title {
  font-size: 36px !important;
}

#result img {
  border: 6px solid #fafafa;
  border-radius: 6px;
  width: 80%;
  height: 80%;
}

#result p {
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  color: #353434;
}

.posts {
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wp-block-image {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.8rem;
  border-radius: 3px;
}

#wp-posts {
  margin-top: 2rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wp-posts .container {
  /*background-color: #fafafa;
  border: 3px solid #fff !important;*/
  border-radius: 8px !important;
  width: 68% !important;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wp-posts h1,
h2,
h3,
h4 {
  color: #333 !important;
  border: none !important;
  font-size: 3rem !important;
  letter-spacing: -1.5px;
  line-height: 1.1667;
}

h5,
h6 {
  color: #333 !important;
  border: none !important;
  font-size: 2rem !important;
  letter-spacing: -1.5px;
  line-height: 1.1667;
}

#wp-posts h1 {
  font-size: 4rem !important;

  color: rgb(0, 0, 0) !important;
  text-transform: uppercase;
  text-align: center;
  font-family: "Anton", sans-serif;
  letter-spacing: 0.2px;
  line-height: 1.1667;
}

h1 {
  color: #f1f2f6 !important;
  font-size: 3rem !important;
}

h3 {
  font-size: 2rem !important;
}

.h1-header {
  font-size: 36px !important;
  color:#999999!important;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 255, 255, 0.5);
}

#posts-index {
  overflow: auto;
  width: 40%;
  height: 420px;
  border: 1px solid rgba(196, 193, 193, 0.6);
}

input[type="text"] {
  border: 1px solid #333 !important;
  color: #95afc0;
}

input[type="email"] {
  border: 1px solid #333 !important;
  color: #95afc0;
  width: 50%;
  margin-bottom: 2%;
}

input[type="button"] {
  border: 1px solid #333 !important;
  background-color: #95afc0 !important;
  color: #333 !important;
}

input[type="submit"] {
  border: 1px solid #333 !important;
  background-color: #440055 !important;
  color: #95afc0 !important;
}

input[type="submit"] a :hover {
  border: 1px solid #333 !important;
  background-color: #4362a5 !important;
  color: #fafafa !important;
  padding: 2px !important;
  font-size: 16px;
}

input[type="placeholder"] {
  color: #333 !important;
}

.button-job {
  /*background-color: #9d5aad !important;*/
  background-color: transparent !important;
  color: #7e7d7d;
  padding: 5px 8px 8px 10px !important;
  font-size: 18px !important;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  border: none;
}

nav a.button-job {
  background-color: transparent;
  transition: all 1s ease-out;
}

nav a .button-job:hover {
  color: var(--title-color) !important;
}

.contato-box {
  margin-left: 0.1rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

i.phone-contato {
  background-image: url("../images/smartphone.svg");
  margin-left: 0.1rem;
  display: flex;
  flex-direction: column;
}

.contato {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  margin-left: 0.5rem;
  color: #333;
}

.fonte-zero {
  color: transparent !important;
  text-decoration: none !important;
}

footer {
  padding: 4rem;
}

footer,
#footer p:hover {
  opacity: 0.8;
}

.text-footer {
  font-size: 14px;
  font-weight: bold;
  color: #797474;
}

.lightbox .lb-image {
  width: 460px !important;
  height: 100% !important;
}

/*media queries*/

/*Dispositivos small (telefones em modo paisagem, com 576px ou mais)*/

/*@media (min-width: 320px) {
  header {
    display: grid !important;
    grid-template-columns: 100% !important;
    grid-row: auto;
    /*margin-top: 25%;
  }
  .container {
    margin-top: 0!important;
  }
}*/

/*Iphone 5*/

@media (min-width: 320px) and (max-width: 568px) {
  #box-conteudo-1 {
    display: block;
  }
  .box-01 {
    display: block;
    width: 100%;
    
  }
  .box-02 {
    display: block;
  }
  .posts img {
    width: 100% !important;
  }
  .container-social {
    display: flex;
    flex-direction: column;
    color: #333;
    align-items: center;
  }
  .box-container-intro {
    display: block;
  }
}

@media (min-width: 360px) and (max-width: 740px) {
  header {
    display: grid !important;
    grid-template-columns: 100% !important;
    grid-row: auto;
    /*margin-top: 25%;*/
  }
  .container {
    margin-top: 0 !important;
  }
  #box-conteudo-1 {
    display: block;
  }
  .box-01 {
    display: block;
    width: 100%;
  }
  .box-02 {
    display: block;
  }
  .posts img {
    width: 100% !important;
  }
  .box-container-intro {
    display: block;
  }
}

/* Dispositivos médios (tablets com 768px ou mais)*/

@media (min-width: 768px) {
  header {
    display: grid !important;
    grid-template-columns: 100% !important;
    grid-row: auto;
    margin-top: 0 !important;
  }
}

/* Dispositivos large (desktops com 992px ou mais)*/

@media (min-width: 992px) {
  header {
    display: grid !important;
    grid-template-columns: 100% !important;
    grid-row: auto;
    margin-top: 0 !important;
  }
}

/* Dispositivos extra large (desktops grandes com 1200px ou mais)*/
