body {
  /*background-image: url(../images/code.jpg);*/

  background-color: #dfe4ea !important;
  background-repeat: no-repeat;
  margin: 0;
  overflow: scroll;
}

/*---------------------------------------*/
header {
  display: grid !important;
  grid-template-columns: 100% !important;
  grid-row: auto;
  margin-top: 0 !important;
}

/*---------------------------------------*/
.wrapper {
  display: grid;
  grid-template-columns: 100%;
  margin: 10% 10% 0% 10%;
}

.wrapper div {}

.conteudo1 {
  display: grid;
  grid-template-columns: 100%;
  grid-row: auto;
}

#box-c  onteudo-1 {
  display: grid;
  grid-template-columns: 68%;
  grid-row: auto;
  color: #333;
}

h1 {
  color: #f1f2f6 !important;
  font-size: 58px !important;
}

h3 {
  font-size: 42px !important;
}

input[type="text"] {
  border: 1px solid #333 !important;
  color: #95afc0;
}

input[type="email"] {
  border: 1px solid #333 !important;
  color: #95afc0;
}

input[type="button"] {
  border: 1px solid #333 !important;
  background-color: #95afc0 !important;
  color: #333 !important
}

input[type="submit"] {
  border: 1px solid #333 !important;
  background-color: #440055 !important;
  color: #95afc0; !important
}

input[type="submit"] a :hover {
  border: 1px solid #333 !important;
  background-color: #4362A5 !important;
  color: #FAFAFA !important;
  padding: 2px !important;
  font-size: 16px;
}

input[type="placeholder"] {
  color: #333 !important
}

.button-job{

  background-color: #440055 !important;
  color:#FAFAFA!important;
  padding: 5px 8px 8px 10px!important;
  font-size: 14px!important;

}


/*media queries*/


/*Dispositivos small (telefones em modo paisagem, com 576px ou mais)*/
@media (min-width: 320px) {

  header {

      display: grid !important;
      grid-template-columns: 100% !important;
      grid-row: auto;
      margin-top: 0 !important;

  }


  .container{
    margin-top: 880px!important;


  }

 }



 /*@media (min-width: 320px) and (max-widht: 360px) {

   header {

       display: grid !important;
       grid-template-columns: 100% !important;
       grid-template-rows:280px;
       margin-top:0!important;

   }

  }*/


/* Dispositivos médios (tablets com 768px ou mais)*/
@media (min-width: 768px) {

  header {
    display: grid !important;
    grid-template-columns: 100% !important;
    grid-row: auto;
    margin-top: 0 !important;
}


 }

/* Dispositivos large (desktops com 992px ou mais)*/
@media (min-width: 992px) {


  header {
    display: grid !important;
    grid-template-columns: 100% !important;
    grid-row: auto;
    margin-top: 0 !important;
  }


 }

/* Dispositivos extra large (desktops grandes com 1200px ou mais)*/
@media (min-width: 1200px) { ... }
