body:not(.overlay-header) .primary-menu > li > a,
body:not(.overlay-header) .primary-menu > li > .icon,
.modal-menu a,
.footer-menu a,
.footer-widgets a,
#site-footer .wp-block-button.is-style-outline,
.wp-block-pullquote::before,
.singular:not(.overlay-header) .entry-header a,
.archive-header a,
.header-footer-group .color-accent,
.header-footer-group .color-accent-hover:hover {
  color: #43414e;
  text-decoration: none;
  font-weight: bold;
  opacity: 0.8;
}

.color-accent,
.color-accent-hover:hover,
.color-accent-hover:focus,
:root .has-accent-color,
.has-drop-cap:not(:focus)::first-letter,
.wp-block-button.is-style-outline,
a {
  color: #333;
  text-decoration: none !important;
}

button:not(.toggle),
.button,
.faux-button,
.wp-block-button__link,
.wp-block-file .wp-block-file__button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.bg-accent,
.bg-accent-hover:hover,
.bg-accent-hover:focus,
:root .has-accent-background-color,
.comment-reply-link {
  background-color: #333;
}

.entry-title a {
  color: #43414e;
}

.singular .entry-header {
  padding: 0;
}


/*Social share*/
.swp_social_panel .nc_tweetContainer a.nc_tweet, .swp_social_panel .nc_tweetContainer.total_shares .swp_count {
    display: block;
    display: flex;
    font-family: Lato, sans-serif;
    font-size: 18px !important;
    font-weight: bold;
    height: 30px;
    text-decoration: none;
    text-decoration: none !important;
    text-transform: none;
    flex-flow: row wrap;
    box-shadow: 1px aliceblue;
    background: #fafafa;
    width: 100;
    border:none!important
    text-decoration: none;
}


.swp_social_panel.swp_default_full_color a, html body .swp_social_panel.swp_individual_full_color .nc_tweetContainer:hover a, body .swp_social_panel.swp_other_full_color:hover a {
    color:#999;
}

.swp_social_panel.swp_default_full_color a, html body .swp_social_panel.swp_individual_full_color .nc_tweetContainer:hover a, body .swp_social_panel.swp_other_full_color:hover a:hover {
    color: #333;
}


.swp_social_panel.swp_flat_fresh.swp_default_full_color .swp_twitter, html body .swp_social_panel.swp_flat_fresh.swp_individual_full_color .swp_twitter:hover, body .swp_social_panel.swp_flat_fresh.swp_other_full_color:hover .swp_twitter:not(:hover) {
    border: 1px solid #FAFAFA;
    
}

.swp_social_panel.swp_default_full_color .swp_twitter, html body .swp_social_panel.swp_individual_full_color .swp_twitter:hover, body .swp_social_panel.swp_other_full_color:hover .swp_twitter {
    
    border: 1px solid #FAFAFA;
}



.swp_social_panel.swp_flat_fresh.swp_default_full_color .swp_facebook, html body .swp_social_panel.swp_flat_fresh.swp_individual_full_color .swp_twitter:hover, body .swp_social_panel.swp_flat_fresh.swp_other_full_color:hover .swp_twitter:not(:hover) {
    border: 1px solid #FAFAFA;
    
}

.swp_social_panel.swp_default_full_color .swp_facebook, html body .swp_social_panel.swp_individual_full_color .swp_twitter:hover, body .swp_social_panel.swp_other_full_color:hover .swp_twitter {
    
    border: 1px solid #FAFAFA;
}



.swp_social_panel.swp_flat_fresh.swp_default_full_color .swp_linkedin, html body .swp_social_panel.swp_flat_fresh.swp_individual_full_color .swp_twitter:hover, body .swp_social_panel.swp_flat_fresh.swp_other_full_color:hover .swp_twitter:not(:hover) {
    border: 1px solid #FAFAFA;
    
}

.swp_social_panel.swp_default_full_color .swp_linkedin, html body .swp_social_panel.swp_individual_full_color .swp_twitter:hover, body .swp_social_panel.swp_other_full_color:hover .swp_twitter {
    
    border: 1px solid #FAFAFA;
}


.entry-content > :not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
   
    border:none!important;
}


.swp_social_panel.swp_default_full_color .swp_facebook, html body .swp_social_panel.swp_individual_full_color .swp_facebook:hover, body .swp_social_panel.swp_other_full_color:hover .swp_facebook {
    background: #fafafa;
    border: 1px solid #fafafa!important;
}


.swp_social_panel.swp_default_full_color .swp_twitter, html body .swp_social_panel.swp_individual_full_color .swp_facebook:hover, body .swp_social_panel.swp_other_full_color:hover .swp_linkedin {
    background: #fafafa!important;
    border: 1px solid #fafafa!important;
}


.swp_social_panel.swp_default_full_color .swp_facebook, html body .swp_social_panel.swp_individual_full_color .swp_facebook:hover, body .swp_social_panel.swp_other_full_color:hover .swp_linkedin {
    background: #fafafa;
    border: 1px solid #fafafa;
}
